
    {{> header}}
    {{> sidebar}}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <table class="table">
                <tr>
                    <th>
                        Sub Category Name
                    </th>
                    <th>
                        Related Category Name
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
                {{#each subcategories}}
                <tr>
                    <td>{{subcategoryname}}</td>
                    <td>{{_category.categoryname}}</td>
                    <td><a href="/admin/subcategory/edit/{{_id}}" class="btn btn-secondary">Edit</a></td>
                    <td><a href="/admin/subcategory/delete/{{_id}}" class="btn btn-danger">Delete</a></td>

                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>


    {{> footer}}
