<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <center>
        <h1>Demo for main layout</h1>
    </center>
    <hr>
    <a href="/">Home</a> ||| <a href="/about">About Us</a>
    <hr>
    {{{body}}}
    <hr>
    Web developed by Dipesh Viradiya
</body>

</html>