<body>
    <form action="/form-process" method="post" enctype="multipart/form-data">
    <label for="name">Name : </label>
    <input type="text" name="name" id="name" />
    <label for="photo">File : </label>
    <input type="file" name="photo" id="photo" />
    <input type="submit">
    </form>
</body>