<div class="row justify-content-center">
    <img src="/images/error-page-page-found-something-went-wrong-template-design-error-message_219593-25.jpg" class="mt-5" alt="">
</div>

<h1>{{error.message}}</h1>
{{!-- 
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}
