<form method="post">
    Name : <input type="text" name="name" id="name" value="{{edit_data.user_name}}">
    Mobile No. : <input type="number" name="mobile" id="mobile" value="{{edit_data.user_mobile}}">
    <input type="submit" value="Edit Record">
</form>