    {{> header}}
    {{> sidebar}}

<div class="content-wrapper">

    <section class="content">   
        <div class="container-fluid">
            
            <div class="row justify-content-evenly mt-3">
                <div class="col-6">
                    <h3>Change Password</h3>
                    <hr>
                    <form method="POST">
                        <div class="mb-3">
                            <label for="firstname" class="form-label">Old Password</label>
                            <input type="password" class="form-control" id="firstname" name="oldpass" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="firstname" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="firstname" name="newpass" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="firstname" class="form-label">Re enter Password</label>
                            <input type="password" class="form-control" id="firstname" name="repass" aria-describedby="emailHelp">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>

    {{> footer}}

