
<div class="login-box">
  <div class="login-logo">
    <b>Admin</b>LTE
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
        <h3>Forgot Password</h3>
        <h6>We will send you the password on given email</h6>
        <br>
        <div class="card-title">
            <br/>
            {{#if isError}}
                <div class="alert alert-danger" role="alert">
                {{error}}
                </div>
            {{/if}}

            {{#if isSuccess}}
                <div class="alert alert-success" role="alert">
                {{success}}
                </div>
            {{/if}}
        </div>
        <br><br>
        <form method="POST">
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          
          <button type="submit" class="btn btn-primary ">Submit</button>
          {{!-- <a href="/" class="primary ms-5">Login</a> --}}
        </form>

      

      {{!-- <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
      </div> --}}
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="/admin/login">Login</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>