<html>
    <body>
        <form method="post">
            Name : <input type="text" name="name" id="name"><br/>
            Select color : <input type="color" name="color" id="color"><br/>
            <input type="submit">
        </form>
    </body>
</html>