{{> navbar}}

<div class="row justify-content-evenly mt-3">
    <div class="col-6">
        <h3>Add admin</h3>
        <hr>
        <form method="POST">
            <div class="mb-3">
                <label for="firstname" class="form-label">Admin Name</label>
                <input type="text" class="form-control"  name="aname" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="firstname" class="form-label">Admin Name</label>
                <input type="text" class="form-control"  name="aemail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="firstname" class="form-label">Admin Name</label>
                <input type="password" class="form-control"  name="apassword" aria-describedby="emailHelp">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>