<!-- Client Section -->
    <div id="clients">
        <div class="container-fluid-clients wrapper">
            <div id="myCarousel-three" class="carousel-clients slide">
                <!-- Wrapper for Slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                            <a href="#" class="logo-link"><img src="img/clients/envato-logo.png" class="client-logo" alt="logo"></a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                            <a href="#" class="logo-link"><img src="img/clients/geforce-logo.png" class="client-logo" alt="logo"></a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                            <a href="#" class="logo-link"><img src="img/clients/uber-logo.png" class="client-logo" alt="logo"></a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                            <a href="#" class="logo-link"><img src="img/clients/airbnb-logo.png" class="client-logo" alt="logo"></a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                            <a href="#" class="logo-link"><img src="img/clients/bootstrap-logo.png" class="client-logo" alt="logo"></a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                            <a href="#" class="logo-link"><img src="img/clients/tmobile-logo.png" class="client-logo" alt="logo"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                            <a href="#" class="logo-link"><img src="img/clients/woo-logo.png" class="client-logo" alt="logo"></a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                            <a href="#" class="logo-link"><img src="img/clients/valve-logo.png" class="client-logo" alt="logo"></a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                            <a href="#" class="logo-link"><img src="img/clients/talenthouse-logo.png" class="client-logo" alt="logo"></a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                            <a href="#" class="logo-link"><img src="img/clients/amazon-logo.png" class="client-logo" alt="logo"></a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                            <a href="#" class="logo-link"><img src="img/clients/river-logo.png" class="client-logo" alt="logo"></a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                            <a href="#" class="logo-link"><img src="img/clients/audio-logo.png" class="client-logo" alt="logo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>