<!-- Pricing Section -->
    <section id="pricing">
        <div class="container-fluid wrapper">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2 class="section-heading">Pricing</h2>
                    <h3 class="section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pricing text-center">
                    <div class="pricing-top-box">
                         <h3 class="pricing-title">Basic</h3>
                        <h4 class="price">$39</h4>
                    </div>
                    <ul>
                        <li>Free Download</li>
                        <li>1000+ Softwear</li>
                        <li>Full Access</li>
                        <li>Free Update</li>
                        <li>Live Support</li>
                    </ul>
                    <a href="" class="btn btn-send">Sign Up</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pricing text-center">
                    <div class="pricing-top-box">
                       <h3 class="pricing-title">Medium</h3>
                        <h4 class="price">$89</h4>
                    </div>
                    <ul>
                        <li>Free Download</li>
                        <li>1000+ Softwear</li>
                        <li>Full Access</li>
                        <li>Free Update</li>
                        <li>Live Support</li>
                    </ul>
                    <a href="" class="btn btn-send">Sign Up</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pricing text-center">
                    <div class="pricing-top-box">
                        <h3 class="pricing-title">Premium</h3>
                        <h4 class="price">$119</h4>
                    </div>
                    <ul>
                        <li>Free Download</li>
                        <li>1000+ Softwear</li>
                        <li>Full Access</li>
                        <li>Free Update</li>
                        <li>Live Support</li>
                    </ul>
                    <a href="" class="btn btn-send">Sign Up</a>
                </div>
            </div>
        </div>
    </section>