<!-- Testimonials Section-->
    <section id="testimonials">
        <div class="container-fluid wrapper">
            <div class="row">
                <div class="col-sm-8 col-lg-12 text-left">
                    <h2 class="section-heading">Testimonials</h2>
                    <h3 class="section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div id="myCarousel-four" class="carousel-testimonials slide" data-ride="carousel">
                <!-- Wrapper for Slides -->
                <div class="carousel-inner">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-md-6 col-sm-6">
                                <div class="block-text">
                                    <img src="img/team/1.png" alt="team-member-img3" class="col-md-6 img-circle">
                                    <h5 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h5>
                                    <p class="testimonial-author"><strong>Martin Santorini</strong>, CEO Talenthouse</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="block-text">
                                    <img src="img/team/2.png" alt="team-member-img3" class="col-md-6 img-circle">
                                    <h5 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h5>
                                    <p class="testimonial-author"><strong>Pierre Bronson</strong>, CEO Talenthouse</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-6 col-sm-6">
                                <div class="block-text">
                                    <img src="img/team/4.png" alt="team-member-img3" class="col-md-6 img-circle">
                                    <h5 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h5>
                                    <p class="testimonial-author"><strong>Victor Vella</strong>, CEO Talenthouse</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="block-text">
                                    <img src="img/team/3.png" alt="team-member-img3" class="col-md-6 img-circle">
                                    <h5 class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h5>
                                    <p class="testimonial-author"><strong>Lora Jones</strong>, CEO Talenthouse</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>