table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
            }

            .navbar {
                overflow: hidden;
                background-color: #00bfff;
            }
            
            .navbar a:hover {
                background-color: #ddd;
                color: black;
            }

            .navbar a {
                color: #f2f2f2;
                text-align: center;
                padding: 22px 16px;
            }
            .navbar a.present {
                background-color: #0040ff;
            }

            form {
                margin-left: 50px;
                margin-right: 50px;
                margin-top: 10px;
            }