<div class="row justify-content-evenly mt-3">
    <div class="col-5">
        <h3>About Us</h3>
        <h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut perspiciatis ipsum ea delectus voluptatum saepe nihil et error necessitatibus. A exercitationem optio laboriosam laborum, hic voluptatibus adipisci tenetur fugiat temporibus? Aliquam quos qui saepe in enim explicabo ex, dolor quod ducimus, repellendus non vel at, nesciunt assumenda ipsam molestiae quaerat perspiciatis. Tempore illo iste veniam omnis! Commodi labore iure hic, alias inventore ullam in recusandae, quam, ad sit aliquam sed ipsum quas! Error atque quidem, voluptatibus a et repudiandae porro corrupti corporis numquam ratione nisi aliquam magnam ullam qui! Impedit, tempora blanditiis. Voluptatem quod ullam iusto atque corporis quo exercitationem.</p>
        </h5>
    </div>
    <div class="col-5">
        <img class="img-fluid" src="images/lucas-benjamin-wQLAGv4_OYs-unsplash.jpg" alt="" srcset="">
    </div>
</div>

<hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>

{{#if msg}}
<h5>this is msg printed in if loop</h5>
<h3>{{msg}}</h3>
{{else}}
<h5>No msg found...</h5>
{{/if}}
